DATABASE_URL=""
USER_URL=""
IP=""
PREFIX="!"
TOKEN=""
CLIENT=""
GUILD=""

#npx prisma db pull --schema=./prisma/schema.prisma
#npx prisma db pull --schema=./prisma-second/schema.prisma

#npx prisma generate pull --schema=./prisma/schema.prisma
#npx prisma generate --schema=./prisma-second/schema.prisma
